## Sample Code Template NYC Open Data
### Normal Query

In [25]:
# importing libraries
import pandas as pd
import numpy as np
from sodapy import Socrata
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import seaborn as sns
import urllib.parse
import json
from urllib.request import urlopen
import requests # library to handle requests
from datetime import datetime

# Displays up to 30 columns
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 50)

In [27]:
# Data snippet; Note the data info will vary
data='bqiq-cu78'

# query parameter as a string
query = """
    SELECT
        *
    WHERE
        bias_motive_description IN ('ANTI-JEWISH','ANTI-ASIAN')
        AND complaint_year_number BETWEEN '2019' AND '2021'
        AND month_number=9
        AND arrest_id IS NOT NULL
    ORDER BY
        county DESC
    LIMIT
        2000
    """

url=f'https://data.cityofnewyork.us/resource/{data}.json?$query={query}'
df= requests.get(url).json()
df=pd.DataFrame(df)
print(df.shape)
df

(8, 13)

,full_complaint_id,complaint_year_number,month_number,record_create_date,complaint_precinct_code,patrol_borough_name,county,law_code_category_description,offense_description,pd_code_description,bias_motive_description,offense_category,arrest_id
0,202100712486817,2021,9,2021-09-23T00:00:00.000,7,PATROL BORO MAN SOUTH,NEW YORK,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,"MENACING,UNCLASSIFIED",ANTI-ASIAN,Race/Color,M33701825
1,202101412911917,2021,9,2021-09-21T00:00:00.000,14,PATROL BORO MAN SOUTH,NEW YORK,MISDEMEANOR,OFF. AGNST PUB ORD SENSBLTY &,AGGRAVATED HARASSMENT 2,ANTI-ASIAN,Race/Color,M33701797
2,202107912674617,2021,9,2021-09-12T00:00:00.000,79,PATROL BORO BKLYN NORTH,KINGS,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,ANTI-JEWISH,Religion/Religious Practice,K33703397
3,202106612448717,2021,9,2021-09-19T00:00:00.000,66,PATROL BORO BKLYN SOUTH,KINGS,MISDEMEANOR,OFF. AGNST PUB ORD SENSBLTY &,AGGRAVATED HARASSMENT 2,ANTI-JEWISH,Religion/Religious Practice,K34679608
4,202106812458017,2021,9,2021-09-17T00:00:00.000,68,PATROL BORO BKLYN SOUTH,KINGS,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,"CRIMINAL MISCHIEF 4TH, GRAFFIT",ANTI-JEWISH,Religion/Religious Practice,K33704128
5,202107712541017,2021,9,2021-09-09T00:00:00.000,77,PATROL BORO BKLYN NORTH,KINGS,FELONY,MISCELLANEOUS PENAL LAW,AGGRAVATED HARASSMENT 1,ANTI-JEWISH,Religion/Religious Practice,K34680218
6,202104713032317,2021,9,2021-09-14T00:00:00.000,47,PATROL BORO BRONX,BRONX,FELONY,MISCELLANEOUS PENAL LAW,AGGRAVATED HARASSMENT 1,ANTI-JEWISH,Religion/Religious Practice,B34673724
7,202104713000317,2021,9,2021-09-06T00:00:00.000,47,PATROL BORO BRONX,BRONX,FELONY,MISCELLANEOUS PENAL LAW,AGGRAVATED HARASSMENT 1,ANTI-JEWISH,Religion/Religious Practice,B33695947

In [29]:
#GROUP BY
# Data snippet; Note the data info will vary
data='bqiq-cu78'

# query parameter as a string
query = """
    SELECT
        county,
        count(*) as Count
    WHERE
        bias_motive_description IN ('ANTI-JEWISH','ANTI-ASIAN')
    GROUP BY
        county
    HAVING
        Count >100
    ORDER BY
        county DESC
    LIMIT
        2000
    """

url=f'https://data.cityofnewyork.us/resource/{data}.json?$query={query}'
df= requests.get(url).json()
df=pd.DataFrame(df)
print(df.shape)
df

(3, 2)

     county Count
0    QUEENS   272
1  NEW YORK   684
2     KINGS   660

In [19]:
# Select Columns of Interest
#offense_description (Diverse)	pd_code_description (Diverse) offense_category

#Check Simple Version
df.col.value_counts()

A=df.col.value_counts().reset_index()
A.columns=['Col','Count']
A.query("Count >10")

NameError: name 'requests' is not defined